<%# As we want to display a header for every day and again for every user,
    we use three variables to keep track of the layout %>
<% @day = nil %>
<% @user_id = nil %>
<% @user_is_open = false %>

<%= form_tag({}) do -%>
  <%= hidden_field_tag 'back_url', url_for(params) %>

  <div class="autoscroll">
    <% entries.each do |entry| -%>

      <%= open_day(entry.spent_on) %>

      <%= user_header(entry.user) %>

      <tr class="time-entry <%= cycle("odd", "even") %>">
        <%
          @query.inline_columns.each do |column|
            content = diary_column_content(column, entry)
            classes = column.css_classes
            # Add css class for custom fields with format 'list'
            classes += " #{content}" if column.respond_to?(:custom_field) &&
                                        column.custom_field.respond_to?(:field_format) &&
                                        column.custom_field.field_format == "list"
        -%>
          <td class="<%= classes %>"><%= content %></td>
        <% end -%>
        <td align="center">
        <% if entry.editable_by?(User.current) -%>
            <%= link_to image_tag('edit.png'), edit_diary_entry_path(entry, params),
                                               :title => l(:button_edit) %>
            <%= link_to image_tag('delete.png'), diary_entry_path(entry, params),
                                                 :data => {:confirm => l(:text_are_you_sure)},
                                                 :method => :delete,
                                                 :title => l(:button_delete) %>
        <% end -%>
        </td>
      </tr>
      
    <% end %>

    <%= close_user %>

    <%= close_day %>

  </div>
<% end -%>
